/* Main Body */
body {
  background-color: #36494E;
  /* #2a383c; */
  color: #eab464;
  text-shadow: -.05em .05em #000;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* Main Button */
button {
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 3%;
  padding-right: 3%;
	font-family: 'Courier';
  font-size: 1.25rem;
  background: linear-gradient(45deg, transparent 13%, #597081 13% 87%, transparent 87%);
  border: 0;
  color: #A9CEF4;
  letter-spacing: 0.188rem;
  outline: transparent;
  position: relative;
  cursor: pointer;
}

img {
  max-width: 7em;
  max-height: 7em;
}

.rating {
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --size: 3rem;
  --length: calc(var(--size) * 5);
  inline-size: var(--length);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
  background-color:rgba(0, 0, 0, 0);
  mask: repeat left center/var(--size) var(--star);
  display: flex;
}

/*  Firefox Styles For Star Rating Range  */
.rating::-moz-range-track {
  background: rgba(100,100,100, 0.15);
  block-size: 100%;
  mask: repeat left center/var(--size) var(--star);
}
.rating::-moz-range-thumb {
  height: var(--size);
  opacity: 0;
  width: var(--size);
  background: goldenrod;
  block-size: 100%;
  mask: repeat left center/var(--size) var(--star);
}

/*  Chrome Styles For Star Rating Range */
.rating::-webkit-slider-runnable-track {
  background: rgba(100,100,100, 0.15);
  block-size: 100%;
  mask: repeat left center/var(--size) var(--star);
  -webkit-mask: repeat left center/var(--size) var(--star);
}
.rating::-webkit-slider-thumb {
  height: var(--size);
  opacity: 0;
  width: var(--size);
  -webkit-appearance: none;
  background-color: goldenrod;
  box-shadow: calc(0rem - var(--length)) 0 0 var(--length) goldenrod;
  opacity: 1;
  width: 1px;
}
