.PromptRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1.5em 3em;
  width: 80%;
  color: #EAB464;
}

label, textarea, input {
  display: block;
}

.PromptLabel {
  text-align:center;
}

.PromptForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  resize:none;
  overflow: auto;
  height: 65vh;
  width: 35vw;
  margin-left: .5vw;
  margin-right: .5vw;
  background-color: #263238;
  color: #eab464;
  /* border: .1em solid #A9CEF4; */
}

label > input[type=text], input[type=number], select, textarea {
  background-color: #263238;
  color: #eab464;
  border-style: inset;
  border-radius: .3rem;
}